[submodule "vendor/raylib_git"]
	path = vendor/raylib_git
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/GameNetworkingSockets"]
	path = vendor/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets
[submodule "vendor/r3d"]
	path = vendor/r3d
	url = https://github.com/Bigfoot71/r3d
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost
